html
    head
        
    body
        h1="By country live"
        table(style='width:100%; border-collapse: collapse; ', border='1')
            tr
                th="Date"
                th=country1
                th=country2
                th=country3
            for date in dates
                tr 
                    th=date[0]
                    th=date[1]
                    th=date[2]
                    th=date[3]
                    
            
        